<app-generic-form title="Bug" [form]="form" [infoMessage]="infoMessage" (save)="save()" [loading]="loading">

  <form [formGroup]="form" (keydown.enter)="save()">

    <mat-form-field appearance="fill" class=full-width>
      <mat-label>Project</mat-label>
      <mat-select [(value)]="projectId" require formControlName="project">
        <mat-option [value]="option.value" *ngFor="let option of projects">{{ option.viewValue }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class=full-width appearance="fill">
      <mat-label>Enter name</mat-label>
      <input matInput [(ngModel)]="bug.name" formControlName="name" required placeholder="Ex. WebApi not working">
    </mat-form-field>

    <mat-form-field class=full-width appearance="fill">
      <mat-label>Enter description</mat-label>
      <input matInput [(ngModel)]="bug.description" formControlName="description" required
        placeholder="Ex. WebApi cors version is not 4.0">
    </mat-form-field>

    <mat-form-field class=full-width appearance="fill">
      <mat-label>Enter version</mat-label>
      <input matInput [(ngModel)]="bug.version" formControlName="version" required placeholder="Ex. 1.0">
    </mat-form-field>

    <mat-form-field appearance="fill" class=full-width>
      <mat-label>Enter time</mat-label>
      <input matInput [(ngModel)]="bug.time" formControlName="time" type="number" min="0" required placeholder="0"
        formControlName="time">
      <span matSuffix>hr.</span>
    </mat-form-field>


    <mat-slide-toggle [ngModel]="!bug.isActive" (ngModelChange)="bug.isActive = !$event" formControlName="isActive">
      {{display(bug.isActive)}}
    </mat-slide-toggle>

    <mat-form-field appearance="fill" class=full-width>
      <mat-label>Resolved by</mat-label>
      <mat-select [(value)]="dev" [disabled]="bug.isActive">
        <mat-option [value]="option.value" *ngFor="let option of devs">{{ option.viewValue }}</mat-option>
      </mat-select>
    </mat-form-field>


    <!-- time, project, completedby -->
  </form>
</app-generic-form>